{% extends "base.html" %}

{% block title %}
| Change Password
{% endblock %}

{% block extenalcss %}
{% load static %}
<!-- datatables  -->
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
{% endblock %}

{% block content %}
{% load static %}
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"> </div>
  <div class="pcoded-container navbar-wrapper">

	{% include "contractor/header.html" %}
	
    <div class="pcoded-main-container">
		<div class="pcoded-wrapper">
			
			{% include "contractor/navbar.html" %}
			
			<div class="pcoded-content">
				<div class="page-header card">
					<div class="row align-items-end">
						<div class="col-lg-8">
							<div class="page-header-title">
								<div class="d-inline">
									<h5><a href="/contractor/dashboard/"><i class="icofont icofont-simple-left"></i></a>{{contra.name}}</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							
						</div>
					</div>
				</div>
				<div class="page-header card">
					<div class="card">
						<div class="card-block">
							<div class="prof-pic-part">
								<div class="prof-pic-img">
									<img id="prof-picture" src="{% static 'img/prf-img.png' %}" alt="">
								</div>
							</div>
							<div class="user-prof-one-part clearfix">
								<form action="" method="post"  onsubmit="return checkPass()">
									{% csrf_token %}
									<div class="text v-product-top">
										<div class="row">
											<div class="col-xl-6 col-lg-12 col-sm-12">
												<div class="form-group row">
														<label class="col-sm-4 col-form-label">Password</label>
														<div class="col-sm-8">
															<input type="password" name="password" id="password" class="form-control" required placeholder="Password">
														</div>
												</div>
											</div>
											<div class="col-xl-6 col-lg-12 col-sm-12">
												<div class="form-group row">
														<label class="col-sm-4 col-form-label">Confirm Password</label>
														<div class="col-sm-8">
															<input type="password" name="cpassword" id="cpassword" class="form-control" required placeholder="Confirm Password">
														</div>
												</div>
											</div>
										</div>
										
										
									</div>
									<br>
									<button type="submit" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-secondary">Reset</button>
								</form>
							</div>
						</div>
					</div>					
					
				</div>
			</div>
		</div>
  	</div>
</div>

{% include "contractor/logout.html" %}
{% endblock %}

{% block extrajs %}
<!-- data table -->
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/data-table-custom.js' %}" type="text/javascript"></script>

<script>
function checkPass(){               
	
	var password = document.getElementById('password').value.trim();
	var cpassword = document.getElementById('cpassword').value.trim();

	if(password != ""){
		if(password.length >= 8){
		if (password == cpassword){
			return true;
		}
		else{
			swal({
			'title': 'Try again!',
			'text': 'Password and Confirm password are not same...',
			'icon': 'warning'
			});
		}
		}
		else{
		swal({
			'title': 'Try again!',
			'text': 'Please enter minimum 8 character password...',
			'icon': 'warning'
		});
		}
	}
	else{
		swal({
		'title': 'Try again!',
		'text': 'Password is required...',
		'icon': 'warning'
		});
	}
			
	return false;

}
</script>

{% if message %}
<script>
swal({
  "title":"{{title}}",
  "text": "{{message}}",
  "icon": "{{icon}}"
}).then(function(){
  window.location = "{{url}}";
});
</script>
{% endif %}

{% endblock %}