{% load static %}
<nav class="navbar header-navbar pcoded-header">
    <div class="navbar-wrapper">
      <div class="navbar-logo"> 
           <a href="/contractor/dashboard/"><img src="{% static 'img/logo.png' %}" class="img_logo" /></a>
           <a class="mobile-menu" id="mobile-collapse" href="#!">
              <i class="icofont icofont-navigation-menu icon-toggle-right"></i>
           </a>
      </div>
      <div class="navbar-container container-fluid">
        <ul class="nav-left">
          <li class="header-search">
              
          </li>
        </ul>
        <ul class="nav-right">
          <li class="user-profile header-notification">
            <div class="dropdown-primary dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown"> <i class="feather icon-user"> </i> Welcome, First Name <i class="feather icon-chevron-down"> </i> </div>
              <ul class="profile-notification  dropdown-menu">
                <li> <a href="/contractor/profile/" class="waves-effect waves-light" style="float: none;"> <i class="feather icon-user"> </i>My Profile </a> </li>
                <li> <a href="/contractor/change_password/" class="waves-effect waves-light" style="float: none;"> <i class="feather icon-settings"> </i> Change Password </a> </li>
                <li> <a href="#" class="waves-effect waves-light" style="float: none;"  data-toggle="modal" data-target="#Logout"> 
                <i class="feather icon-log-out"> </i> Logout </a> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>