<div class="modal fade" id="Logout" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header"> </div>
        <div class="modal-body text-center">
          <h4>Do you want to Logout? </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No </button>
          <a type="button" class="btn btn-primary waves-effect waves-light" href="/contractor/signout/">Yes </a>
        </div>
      </div>
    </div>
</div>