<nav class="pcoded-navbar">
    <div class="nav-list">
      <div class="pcoded-inner-navbar main-menu">
        <ul class="pcoded-item   pcoded-left-item">
            <li class="pcoded-hasmenu">
                <a href="/contractor/dashboard/"> 
                   <span class="pcoded-micon"><i class="feather icon-home"></i></span> 
                   <span class="pcoded-mtext">Dashboard </span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
              <a href="/contractor/users/"> 
                 <span class="pcoded-micon"><i class="feather icon-users"></i></span> 
                 <span class="pcoded-mtext">Users</span>
              </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="/contractor/products/"> 
                   <span class="pcoded-micon"><i class="feather icon-box"></i></span> 
                   <span class="pcoded-mtext">Products</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="/contractor/jobcategories/">
                   <span class="pcoded-micon"><i class="fa fa-graduation-cap"></i></span>
                   <span class="pcoded-mtext">Job Categories</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
              <a href="/contractor/tasks/">
                 <span class="pcoded-micon"><i class="fa fa-tasks"></i></span>
                 <span class="pcoded-mtext">Tasks</span>
              </a>
            </li>
            <li class="pcoded-hasmenu">
              <a href="/contractor/tasks-due-bills/">
                 <span class="pcoded-micon"><i class="fa fa-credit-card"></i></span>
                 <span class="pcoded-mtext">Tasks Due Bills</span>
              </a>
            </li>
        </ul>
      </div>
    </div>
</nav>