<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<title>SLP</title>
<link rel="shortcut icon" href="img/favicon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/waves.min.css" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="css/feather.css">
<link rel="stylesheet" type="text/css" href="css/themify-icons.css">
<link rel="stylesheet" type="text/css" href="css/icofont.css">
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/pages.css">
<link rel="stylesheet" type="text/css" href="css/media.css">
</head>
<body themebg-pattern="theme1">
<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material">
          <div class="text-center"> <img src="img/logo.png" alt="logo.png" width="150" height="auto"> </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Reset Password</h3>
                </div>
              </div>
              <div class="form-group">
                   <label>New Password</label>
                   <input type="text" name="user-name" class="form-control">
              </div>
              <div class="form-group">
                   <label class="float-label">Confirm Password</label>
                   <input type="password" name="password" class="form-control" required="">
              </div>
              <div class="row m-t-20">
                <div class="col-md-12">
                     <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset Password</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="reset-pw" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content p-20">
      <div class="modal-header text-center"> 
      	   <h3 class="w-100 p-b-10"><strong>Reset Password</strong></h3>
      </div>
      <div class="modal-body text-center">
        <div class="clearfix">
       	     <label>Please Enter Email ID</label>
        	 <input type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/jquery.min.js">
  </script> 
<script type="text/javascript" src="js/jquery-ui.min.js">
  </script> 
<script type="text/javascript" src="js/popper.min.js">
  </script> 
<script type="text/javascript" src="js/bootstrap.min.js">
  </script> 
<script src="js/waves.min.js" type="text/javascript">
  </script> 
<script type="text/javascript" src="js/jquery.slimscroll.js">
  </script> 
<script type="text/javascript" src="js/modernizr.js">
  </script> 
<script type="text/javascript" src="js/css-scrollbars.js">
  </script> 
<script type="text/javascript" src="js/common-pages.js">
  </script> 
<script src="js/rocket-loader.min.js" data-cf-settings="|49" defer="">
  </script>
</body>
</html>
