{% extends 'merchant/base.html' %}
{% load static %}
{% block content %}
<body>
  <div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"> </div>
    <div class="pcoded-container navbar-wrapper">
      <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
          <div class="navbar-logo">
                   <a href="{% url 'dashboard' %}"><img src="{% static 'img/logo.png' %}"  class="img_logo" /></a>
             <a class="mobile-menu" id="mobile-collapse" href="#!">
          <i class="icofont icofont-navigation-menu"></i>
         </a>
          </div>
          <div class="navbar-container container-fluid">
            <ul class="nav-left">
              <li class="header-search">
                  
              </li>
            </ul>
            <ul class="nav-right">
              <li class="user-profile header-notification">
                <div class="dropdown-primary dropdown">
                  <div class="dropdown-toggle" data-toggle="dropdown"> <i class="feather icon-user"> </i> Welcome, {{name}} <i class="feather icon-chevron-down" id="btndd"> </i> </div>
                  <ul id="dd1" class="profile-notification  dropdown-menu">
                    <li> <a href="/slp_admin/change_password/" class="waves-effect waves-light" style="float: none;"> <i class="feather icon-settings"> </i> Change Password</a> </li>
                    <li> <a href="/slp_admin/logout/" class="waves-effect waves-light" style="float: none;"  data-toggle="modal" data-target="#Logout"> 
                    <i class="feather icon-log-out"> </i> Logout </a> </li>
                  </ul>
                </div>
              </li>
            </ul>
            <script>
              $(document).ready(function(){
              $("#btndd").click(function(){
                $("#dd1").toggle();
              });
              });
            </script>
          </div>
        </div>
      </nav>
      <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
          <nav class="pcoded-navbar">
            <div class="nav-list">
              <div class="pcoded-inner-navbar main-menu">
                <ul class="pcoded-item   pcoded-left-item">
                  <li class="pcoded-hasmenu active">
                      <a href="/slp_admin/dashboard/"> 
                          <span class="pcoded-micon"><i class="feather icon-home"></i></span> 
                          <span class="pcoded-mtext">Dashboard </span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="/slp_admin/list_user/"> 
                          <span class="pcoded-micon"><i class="feather icon-users"></i></span> 
                          <span class="pcoded-mtext">Users</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                    <a href="/slp_admin/contractors/"> 
                        <span class="pcoded-micon"><i class="fas fa-users"></i></span> 
                        <span class="pcoded-mtext">Contractors</span>
                    </a>
                  </li>
                  
                  <li class="pcoded-hasmenu">
                    <a href="/slp_admin/points-request/">
                        <span class="pcoded-micon"><i class="fa fa-credit-card"></i></span>
                        <span class="pcoded-mtext">Add Points Requests</span>
                    </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="{% url 'view_merchant' %}">
                          <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span> 
                          <span class="pcoded-mtext">Merchant</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="{% url 'products' %}">
                          <span class="pcoded-micon"><i class="feather icon-box"></i></span> 
                          <span class="pcoded-mtext">Products</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="{% url 'videos' %}"> 
                          <span class="pcoded-micon"><i class="feather icon-video"></i></span> 
                          <span class="pcoded-mtext">Videos</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="{% url 'category' %}"> 
                          <span class="pcoded-micon"><i class="feather icon-list"></i></span> 
                          <span class="pcoded-mtext">Categories</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="/slp_admin/quiz/">
                          <span class="pcoded-micon"><i class="feather icon-alert-circle"></i></span> 
                          <span class="pcoded-mtext">Quiz</span>
                      </a>
                  </li>
                  <!-- <li class="pcoded-hasmenu">
                      <a href="#"> 
                          <span class="pcoded-micon"><i class="icofont icofont-dashboard"></i></span>
                          <span class="pcoded-mtext">Leader board</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="#"> 
                          <span class="pcoded-micon"><i class="feather icon-flag"></i></span>
                          <span class="pcoded-mtext">Banner</span>
                      </a>
                  </li> -->
                  <li class="pcoded-hasmenu">
                      <a href="/slp_admin/qr-codes/">
                          <span class="pcoded-micon"><i class="icofont icofont-qr-code"></i></span>
                          <span class="pcoded-mtext">QR Codes</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="/slp_admin/dispute/requests/">
                          <span class="pcoded-micon"><i class="feather icon-alert-triangle"></i></span>
                          <span class="pcoded-mtext">Dispute Request</span>
                      </a>
                  </li>
                  <!-- <li class="pcoded-hasmenu">
                      <a href="#">
                          <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                          <span class="pcoded-mtext">CMS Pages</span>
                      </a>
                  </li>
                  <li class="pcoded-hasmenu">
                      <a href="#">
                          <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                          <span class="pcoded-mtext">Settings</span>
                      </a>
                  </li> -->
                  <li class="pcoded-hasmenu">
                      <a href="/slp_admin/purchased_gifts">
                          <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                          <span class="pcoded-mtext">Purchased gift cards</span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <div class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h5><a href="{% url 'view_merchant' %}"><i class="icofont icofont-simple-left"></i></a> View Merchant</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">

              </div>
            </div>
          </div>

          <div class="page-header card">
              <div class="card">
               	    <div class="card-block">
               	         <div class="v-product-top">
							 <div class="row">
										<div class="col-xl-6 col-lg-12 col-sm-12">
											 <div class="form-group row">
													<label class="col-sm-4 col-form-label">Name</label>
													<div class="col-sm-8">
														 <h4>{{merchant_detail.name}}</h4>
													</div>
											 </div>
										</div>
										<div class="col-xl-6 col-lg-12 col-sm-12">
											 <div class="form-group row">
													<label class="col-sm-4 col-form-label">Phone Number</label>
													<div class="col-sm-8">
														 <h4>{{merchant_detail.phone}}</h4>
													</div>
											 </div>
										</div>
							  </div>
             	        	 <div class="row">
										<div class="col-xl-6 col-lg-12 col-sm-12">
											 <div class="form-group row">
													<label class="col-sm-4 col-form-label">Email</label>
													<div class="col-sm-8">
														 <h4>{{merchant_detail.email}}</h4>
													</div>
											 </div>
										</div>
										<div class="col-xl-6 col-lg-12 col-sm-12">
											 <div class="form-group row">
													<label class="col-sm-4 col-form-label">Address</label>
													<div class="col-sm-8">
														 <h4>{{merchant_detail.address.add_line1 }} {{merchant_detail.address.add_line2 }}</h4>
													</div>
											 </div>
										</div>
							  </div>
             	        	 <div class="row">
									<div class="col-xl-6 col-lg-12 col-sm-12">
										 <div class="form-group row">
												<label class="col-sm-4 col-form-label">Status</label>
												<div class="col-sm-8">
													 <div class="switch-custom m-t-5">
													 	  <input type="checkbox"
                                                               {% if merchant.status == 'Block' %}checked{% endif %}                                                        >
													 	  <span></span>
													 </div>
												</div>
										 </div>
									</div>
							  </div>
              	        </div>
               	    </div>
               </div>
              <div class="page-header-title p-b-15">
				   <div class="d-inline">
					   <h5>Products</h5>
				   </div>
              </div>

            <div class="page-header card">
              <div class="card">
                <div class="card-block">
                  <div class="dt-responsive table-responsive">
                    <table id="multi-colum-dt10" class="table table-striped table-bordered nowrap">
                      <thead>
                        <tr>
                          <th>Product Name</th>
                          <th>Total Points</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for products_detail in products_detail %}
                        <tr>
                          <td>{{products_detail.product_name}}</td>
                          <td>{{products_detail.total_point}}</td>
                          <td>
                         	  <a href="{% url 'slp_admin_view_product' id=products_detail.id %}" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-eye-alt"></i></a>
                         	  <a href="{% url 'edit_product' id=products_detail.id %}" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-edit-alt"></i></a>
                         	  <a href="{% url 'delete_product' id=products_detail.id %}" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-trash"></i></a>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Logout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header"> </div>
      <div class="modal-body text-center">
        <h4>Do you want to Logout? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No </button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Yes </button>
      </div>
    </div>
  </div>
</div>
</body>


<script type="text/javascript">
		$('#multi-colum-dt10').DataTable({

		});
</script>

{% endblock %}
