{% extends 'extra/admin_base.html' %}
{% load static %}
{% block content %}
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"> </div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
        	 <a href="dashboard.html"><img src="{% static 'img/logo.png' %}"  class="img_logo" /></a>
        	 <a class="mobile-menu" id="mobile-collapse" href="#!">
				<i class="icofont icofont-navigation-menu"></i>
			 </a>
        </div>
        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li class="header-search">
                
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
      <nav class="pcoded-navbar">
        <div class="nav-list">
          <div class="pcoded-inner-navbar main-menu">
            <ul class="pcoded-item   pcoded-left-item">
              <li class="pcoded-hasmenu active">
                  <a href="/slp_admin/dashboard/"> 
                      <span class="pcoded-micon"><i class="feather icon-home"></i></span> 
                      <span class="pcoded-mtext">Dashboard </span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="/slp_admin/list_user/"> 
                      <span class="pcoded-micon"><i class="feather icon-users"></i></span> 
                      <span class="pcoded-mtext">Users</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                <a href="/slp_admin/contractors/"> 
                    <span class="pcoded-micon"><i class="fas fa-users"></i></span> 
                    <span class="pcoded-mtext">Contractors</span>
                </a>
              </li>
              
              <li class="pcoded-hasmenu">
                <a href="/slp_admin/points-request/">
                    <span class="pcoded-micon"><i class="fa fa-credit-card"></i></span>
                    <span class="pcoded-mtext">Add Points Requests</span>
                </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span> 
                      <span class="pcoded-mtext">Merchant</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="feather icon-box"></i></span> 
                      <span class="pcoded-mtext">Products</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="feather icon-video"></i></span> 
                      <span class="pcoded-mtext">Videos</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="feather icon-list"></i></span> 
                      <span class="pcoded-mtext">Categories</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="/slp_admin/quiz/">
                      <span class="pcoded-micon"><i class="feather icon-alert-circle"></i></span> 
                      <span class="pcoded-mtext">Quiz</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="icofont icofont-dashboard"></i></span>
                      <span class="pcoded-mtext">Leader board</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#"> 
                      <span class="pcoded-micon"><i class="feather icon-flag"></i></span>
                      <span class="pcoded-mtext">Banner</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#">
                      <span class="pcoded-micon"><i class="icofont icofont-qr-code"></i></span>
                      <span class="pcoded-mtext">QR Codes</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#">
                      <span class="pcoded-micon"><i class="feather icon-alert-triangle"></i></span>
                      <span class="pcoded-mtext">Dispute Request</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#">
                      <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                      <span class="pcoded-mtext">CMS Pages</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#">
                      <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                      <span class="pcoded-mtext">Settings</span>
                  </a>
              </li>
              <li class="pcoded-hasmenu">
                  <a href="#">
                      <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                      <span class="pcoded-mtext">Purchased gift cards</span>
                  </a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
        <div class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                       <h5>Change Password</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                   
              </div>
            </div>
          </div>
          <form method="POST" action="."> {% csrf_token %}
          <div class="page-header card">
               <div class="card edit-prof-section">
               	    <div class="card-block">
                 	     	  <div class="row">
                 	     	  	   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 	     	  	   	    <div class="form-group">
                 	     	  	   	    	 <label>Old Password</label>
                 	     	  	   	    	 <input type="text" class="form-control" name="old_pass" value="{{old_passwrd}}"> 
                 	     	  	   	    </div>
                 	     	  	   </div>
                 	     	  	   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 	     	  	   	    <div class="form-group">
                 	     	  	   	    	 <label>New Password</label>
                 	     	  	   	    	 <input type="text" class="form-control" name="password" value="{{password}}">
                 	     	  	   	    </div>
                 	     	  	   </div>
                 	     	  </div>
                 	     	  <div class="row">
                 	     	  	   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                 	     	  	   	    <div class="form-group">
                 	     	  	   	    	 <label>Confirm New Password</label>
                 	     	  	   	    	 <input type="text" class="form-control" name="cnfm_pass" >
                 	     	  	   	    </div>
                 	     	  	   </div>
                 	     	  </div>
                 	     	  <div class="clearfix">
                 	     	  	   <button class="btn btn-primary" type="submit">Update</button>
                 	     	  </div>
               	    </div>
               </div>
               hi
               {{ErrorMsg}} {{successMsg}}
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Logout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header"> </div>
      <div class="modal-body text-center">
        <h4>Do you want to Logout? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No </button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Yes </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}