{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}">
  <title>Welcome</title>
  <style type="text/css">
    body {
      margin: 0!important;
      padding: 0!important
    }
    img {
      border: 0!important;
      outline: none!important
    }
    p {
      Margin: 0px!important;
      Padding: 0px!important
    }
    table {
      border-collapse: collapse
    }
    td,
    a,
    span {
      border-collapse: collapse
    }
    ExternalClass * {
      line-height: 100%
    }
    @media only screen and (min-width:481px) and (max-width:599px) {
      .wrap {
        width: 100%!important
      }
      .hide {
        display: none!important
      }
      .side {
        width: 15px !important;
      }
      .pa {
        padding: 15px !important;
      }
      .pb {
        padding-bottom: 20px;
      }
    }
    @media only screen and (max-width:480px) {
      .wrap {
        width: 100%!important
      }
      .hide {
        display: none!important
      }
      .h20 {
        height: 20px !important;
      }
      .side {
        width: 15px !important;
      }
      .pa {
        padding: 15px !important;
      }
      .pb {
        padding-bottom: 20px;
      }
    }
  </style>
</head>
<form action="." method="POST">{% csrf_token %}
<body style="margin:0px;padding:0px" bgcolor="#ffffff">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tr>
      <td align="center" valign="top">
        <table width="600" border="0" cellspacing="0" cellpadding="0" class="wrap">
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="box-shadow:0 0 0px #e6e6e6;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f5f5f5">
                <tr>
                  <td width="30" class="side">&nbsp;</td>
                  <td align="center" valign="top" style="padding-top:30px;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" valign="top" style="box-shadow:0 0 3px #e4e9eb;">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td valign="top" style="padding: 20px 0 10px 0; text-align: center; background: #ffffff;">
                                    <img width="50" src="{% static 'img/logo.png' %}" alt="">
                                  </td>
                                </tr>
                              <tr>
                              <td align="center" width="50px" valign="top" style="font-family:'Lato', Arial, sans-serif; font-size:20px; color:#ffffff; background: #ffffff; line-height:22px; font-weight:bold; padding:10px 0 30px 0;" class="pb">Reset Password</td>
                            </tr>
                            <tr>
                              <td bgcolor="#ffffff" align="center" valign="top" class="pa" style="padding:30px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    <td align="left" valign="top" style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px; font-weight:normal; padding:0px 0 15px 0;" class="pb">
                                      <input type="hidden" value="{{ id }}" name="id" class="form-control" required="" >
                                      <input type="password" required="" placeholder="Password" name="new_password" class="new_password" style="padding: 8px 10px; border-radius: 4px; border: 1px solid #999; font-size: 15px; width: 100%; -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="left" valign="top" style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px; font-weight:normal; padding:0px 0 15px 0;" class="pb">
                                      <input type="password" required="" placeholder="Confirm Password" name="confirm_password" class="confirm_password" style="padding: 8px 10px; border-radius: 4px; border: 1px solid #999; font-size: 15px; width: 100%; -moz-box-sizing: border-box;-webkit-box-sizing: border-box; box-sizing: border-box;">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="center" style="padding: 0 0 20px 0; font-family:'Lato', Arial, sans-serif; font-size:15px;">
                                      <button type="submit" class="reset_password_btn" style="color:#ffffff; text-decoration: none; display: inline-block; background: #2b2c6c; font-size: 15px; padding: 8px 15px; border-radius: 4px; vertical-align: top; border: none; cursor: pointer; ">Reset Password</button>
                                    </td>
                                    <td class="login-div">
                                      <button type="submit"  style="color:#ffffff; text-decoration: none; display: none; background: #2b2c6c; font-size: 15px; padding: 8px 15px; border-radius: 4px; vertical-align: top; border: none; cursor: pointer; ">Login</button>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td align="center" valign="top" style="padding: 15px 0 15px 0;"><img width="80" src="{% static 'img/logo.png' %}" alt=""></td>
                                    </tr>
                                  <tr>
                                    <td align="center" valign="top" style="font-family:'Lato', Arial, sans-serif; font-size:15px; color:#333333; line-height:20px;">Regards, <br>Sprayer loyalty program team.</td>
                                  </tr>
                                  </form>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" valign="top" style="padding:15px 15px 15px 15px; font-family:'Lato', Arial, sans-serif; font-size:11px; color:#777777; line-height:15px;">
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="30" class="side">&nbsp;</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="60" class="h20">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div class="hide" style="white-space:nowrap;font:20px courier;color:#ffffff">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp; &nbsp;</div>
{{context}}
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}">
  </script> 
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<script type="text/javascript">
    // var url_link = $('#reset_password').attr('data-url');
    var clickHandler = function(e){
    var url_link = $('#reset_password').attr('data-url');
    var new_password = $('.new_password').val();
    var confirm_password = $('.confirm_password').val();
    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#\$%\^&\*]).{6,}/;
    var flag = 0
    console.log('------',url_link, new_password, confirm_password)

    if(new_password == '' || confirm_password == ''){
      swal("error","Please Enter Password..!!!","error")
      flag = 1
    }
    else if(new_password != confirm_password){
      swal("error","Your New Password and Confirm Password Dosen't Match...!!!","error")
      flag = 1
    }else if(!new_password.match(regx)){
      swal("error",'Password must contain at least 6 characters, including UPPER/lowercase, special characters and numbers',"error")
      flag = 1
    }
  }
      if ("{{message}}" != ""){
    swal({
        'text': "{{message}}",
        'icon': "{{icon}}"
  }).then(function(){
      window.location = "{{url}}";
  });
  }
</script>
</body>
</form>
</html>
