<nav class="pcoded-navbar">
    <div class="nav-list">
      <div class="pcoded-inner-navbar main-menu">
        <ul class="pcoded-item   pcoded-left-item">
          <li class="pcoded-hasmenu active">
              <a href="{% url 'slpdashboard' %}"> 
                  <span class="pcoded-micon"><i class="feather icon-home"></i></span> 
                  <span class="pcoded-mtext">Dashboard </span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="{% url 'slp_list_user' %}"> 
                  <span class="pcoded-micon"><i class="feather icon-users"></i></span> 
                  <span class="pcoded-mtext">Users</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
            <a href="{% url 'list_contractor' %}"> 
                <span class="pcoded-micon"><i class="fas fa-users"></i></span> 
                <span class="pcoded-mtext">Contractors</span>
            </a>
          </li>
          
          <li class="pcoded-hasmenu">
            <a href="/slp_admin/points-request/">
                <span class="pcoded-micon"><i class="fa fa-credit-card"></i></span>
                <span class="pcoded-mtext">Add Points Requests</span>
            </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="{% url 'view_merchant' %}">
                  <span class="pcoded-micon"><i class="feather icon-user-plus"></i></span> 
                  <span class="pcoded-mtext">Merchant</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="{% url 'products' %}">
                  <span class="pcoded-micon"><i class="feather icon-box"></i></span> 
                  <span class="pcoded-mtext">Products</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="{% url 'videos' %}"> 
                  <span class="pcoded-micon"><i class="feather icon-video"></i></span> 
                  <span class="pcoded-mtext">Videos</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="{% url 'category' %}"> 
                  <span class="pcoded-micon"><i class="feather icon-list"></i></span> 
                  <span class="pcoded-mtext">Categories</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="/slp_admin/quiz/">
                  <span class="pcoded-micon"><i class="feather icon-alert-circle"></i></span> 
                  <span class="pcoded-mtext">Quiz</span>
              </a>
          </li>
          <!-- <li class="pcoded-hasmenu">
              <a href="#"> 
                  <span class="pcoded-micon"><i class="icofont icofont-dashboard"></i></span>
                  <span class="pcoded-mtext">Leader board</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="#"> 
                  <span class="pcoded-micon"><i class="feather icon-flag"></i></span>
                  <span class="pcoded-mtext">Banner</span>
              </a>
          </li> -->
          <li class="pcoded-hasmenu">
              <a href="/slp_admin/qr-codes/">
                  <span class="pcoded-micon"><i class="icofont icofont-qr-code"></i></span>
                  <span class="pcoded-mtext">QR Codes</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="/slp_admin/dispute/requests/">
                  <span class="pcoded-micon"><i class="feather icon-alert-triangle"></i></span>
                  <span class="pcoded-mtext">Dispute Request</span>
              </a>
          </li>
          <!-- <li class="pcoded-hasmenu">
              <a href="#">
                  <span class="pcoded-micon"><i class="feather icon-file"></i></span>
                  <span class="pcoded-mtext">CMS Pages</span>
              </a>
          </li>
          <li class="pcoded-hasmenu">
              <a href="#">
                  <span class="pcoded-micon"><i class="feather icon-settings"></i></span>
                  <span class="pcoded-mtext">Settings</span>
              </a>
          </li> -->
          <li class="pcoded-hasmenu">
              <a href="/slp_admin/purchased_gifts">
                  <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                  <span class="pcoded-mtext">Purchased gift cards</span>
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>