
{% extends 'extra/admin_base.html' %}
{% load static %}
{% block content %}
{% include 'extra/slpadmin_menu.html' %}

        <div class="pcoded-content">
          <div class="page-header card">
            <div class="row align-items-end">
              <div class="col-lg-8">
                <div class="page-header-title">
                  <div class="d-inline">
                    <h5>Quiz</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                   <div class="text-right">
                   	    <a href="/slp_admin/quiz/add_question/" class="btn btn-primary">Add Questions</a>
                   </div>
              </div>
            </div>
          </div>
          <div class="page-header card">
              <div class="card">
                <div class="card-block">
                  <div class="dt-responsive table-responsive">
                    <table id="multi-colum-dt6" class="table table-striped table-bordered nowrap">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Quiz Name</th>
                          <th>Points</th>
                          <th>Video Link</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for quiz in quiz %}
                             {% if quiz.is_deleted is False %}
                        <tr>

                          <td>{{quiz.id}}</td>
                          <td>{{quiz.name}}</td>
                          <td>{{quiz.points}}</td>
                          <td>{{quiz.video.title}}</td>
                          <td>
                         	  <a href="/slp_admin/quiz/{{ quiz.id }}/view/" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-eye-alt"></i></a>
                         	  <a href="/slp_admin/quiz/{{ quiz.id }}/edit/" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-edit-alt"></i></a>
                         	  <a href="/slp_admin/quiz/{{ quiz.id }}/delete/" class="tabledit-edit-button btn btn-primary waves-light waves-effect"><i class="icofont icofont-trash"></i></a>
                          </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Logout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header"> </div>
      <div class="modal-body text-center">
        <h4>Do you want to Logout? </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">No </button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Yes </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/script.min.js' %}">
  </script>
<script src="{% static 'js/vertical/vertical-layout.min.js' %}" type="text/javascript">
  </script>
  
<!-- data table -->
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dataTables.responsive.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/data-table-custom.js' %}" type="text/javascript"></script>


<script type="text/javascript">
		$('#multi-colum-dt6').DataTable({
			
		});
</script>

  
  
{% endblock %}